body {
  background-color: black;
  margin: 10;
  padding: 0;
  display: flex;
  align-items: center;
  height: auto;
  overflow-x: hidden;
  flex-direction: column;
}

.mainbody {
  color: white;
}

.landing h1 {
  font-family: "Orbitron", sans-serif;
  margin-left: 50%;
  position: relative;
  font-size: 7.5vw;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.2em #941212;
  user-select: none;
  white-space: nowrap;
  animation: shake 1.5s linear forwards;
  overflow: visible; /* Use overflow: visible to ensure text remains visible */
  padding-bottom: 30px;
}

.landing h1 span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
  clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.landing h1::before,
.landing h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

.landing h1::before {
  animation: crack1 2s linear forwards;
  -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.landing h1::after {
  animation: crack2 2s linear forwards;
  -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
  clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}
@keyframes shake {
  5%,
  55%,
  95% {
    transform: translateY(0.018em) rotate(0deg);
  }

  20%,
  60% {
    filter: blur(0.05em);
    transform: translate(-0em, 0.018em) rotate(0deg);
  }

  45%,
  85% {
    filter: blur(0.05em);
    transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
    transform: translate(0) rotate(-0.5deg);
  }
}

@keyframes crack1 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-51%, -48%);
  }
}

@keyframes crack2 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-49%, -53%);
  }
}

.content {
  padding-left: 20%;
  padding-right: 20%;
  font-family: "Raleway";
  font-size: 2vh;
  color: #fff;
  line-height: 4vh;
  text-align: justify;
  opacity: 0; /* Start with opacity 0 (fully transparent) */
  transition: opacity 1s; /* Add a 1-second transition for opacity */
}

.fade-in {
  opacity: 1; /* When contentVisible is true, make it fully opaque */
  color: #fff;
}

.highlight {
  color: #ff0202;
  text-shadow: 5px #fff;
  text-align: center;
  font-size: xx-large;
}

.batchpics{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
@media (max-aspect-ratio: 1/1) {
  .landing h1 {
    font-size: 8vw;
  }

  .content {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.75vh;
  }
  .highlight {
    font-size: 5vw;
  }
}
