.mainbody{
  width: 100vw;
}
.vertical-timeline::before {
    background: rgb(255, 255, 255) !important;
  }
  
  
.vertical-timeline-element-title {

  font-family: 'Raleway';
  text-align: left;
  font-size: 3vh;
  color: rgb(250, 142, 0);
}
.vertical-timeline-element-subtitle{
  
  font-family: 'Raleway';
  text-align: right;
  
}

.vertical-timeline-element-content{
  font-family: 'Raleway';
  text-align: left;
  background-color: rgb(1, 4, 20);
  border: 1px solid white;
}

