.App.scrolled .header {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;

}

.header {
  width: 100vw;
  margin: 0 auto;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #be0000, #05031f);
  position: sticky;
  top: 0; /* Stick the header to the top of the viewport */
  z-index: 100; /* Adjust the z-index as needed */
  opacity: 1;
  transition: opacity 0.3s, 
}



/* Style the h2 element within the header */
.header .link{  
  font-family: 'Orbitron', sans-serif;
  font-weight:900;
  color: rgba(255, 255, 255, 0.671);
  font-size: 3.5vh;
  padding: 1%;
  text-align: center;
  width: 80%;
  text-decoration: none;
}

.header .link:hover {
  border-color: rgb(128, 32, 69);
  border-radius: 3%;
  text-decoration: none;
}

.header .active-link {
  font-family: 'Orbitron', serif;
  font-weight:900;
  color: rgb(255, 255, 255);
  font-size: 3.75vh;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  border-color: rgb(128, 32, 69);
  border-radius: 3%;
  text-decoration: none;
  width: 80%;
}



@media (max-aspect-ratio: 3/4) {
    .header {
    width: 100vw;
  }

  .header .link {
    font-size: 4.5vw;
  }

  .header .active-link {
    font-size: 5vw;
    border-radius: 5%;
  }

}